body {
    background-color:aliceblue;
}

div {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.paragraphs {
    font-size: 20px;
    text-indent: 10px;
    padding: 500px;
}

header {
    position: fixed;
    display: inline-block;
    background-color: lightgray;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: darkblue;
    padding: 0.5em 1em;
    color: white;
}

.menu-item:hover {
    background-color:blue;
    color:white;
}

.menu-item a{
    color: white;
    text-decoration: none;
}

