.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color:firebrick;
    padding: 0.5em 1em;
    color: white;
}

.menu-item:hover {
    background-color: crimson;
    color: azure;
}

.menu-item a{
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    display: inline-block;
    background-color: lightgray;
    font-family: monospace;
    font-size: 20px;
}

body {
    background-color: bisque;
}

div {
    text-align: left;
    font-family: monospace;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.paragraphs {
    font-size: 20px;
    text-indent: 10px;
}

h1, h2 {
    text-align: right;
    font-family: fantasy;
    font-size: 40px;
}

.picture1 {
    float: left;
    content: url(../images/art.jpg);
    width: 500px;
}

@media only screen and (min-width: 600px) {
    .picture1 {
        content: url(../images/art.jpg);
    }
}

table {
    margin-top: 10px;
    border: 1px solid black;
    font-family: fantasy;
    font-size: 20px;
    padding: 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 5px;
    color: #000;
    background-color:firebrick;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: white;
    background-color: crimson;
}

.dropdown:hover .dropdown-content {
    display: block;
}