.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color:firebrick;
    padding: 0.5em 1em;
    color: white;
}

header {
    position: fixed;
    display: inline-block;
    background-color: lightgray;
    font-family: monospace;
}

body {
    background-color: bisque;
}

div {
    text-align: left;
    font-family: monospace;
    padding: 10px;
}

h1, h2 {
    text-align: center;
    font-family: fantasy;
}