body{
    font-family: 'Times New Roman', Times, serif;
}

.parent-container{
    background-color: cadetblue;
    width: 85%;
    margin: auto;
}

div.align{
    text-align: center;
}

.inner-box{
    width: 50%;
    height: 200px;
    padding: auto;
    background-color: lightblue;
}

.scroll{
    overflow: scroll;
}
.button{
    width: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    margin: auto;
    padding: 1cm;
    background: palegreen;
    text-align: center;
    font-size: larger;
}