body{
    font-family: 'Times New Roman', Times, serif;
}

.parent-container{
    background-color: cadetblue;
    width: 50%;
    margin: auto;
}

div.align{
    text-align: center;
}

.inner-box{
    width: 50%;
    height: 100px;
    padding: auto;
    background-color: lightblue;
}

.scroll{
    overflow: scroll;
}
