body{
    font-family: 'Times New Roman', Times, serif;
}

.parent-container{
    background-color: cadetblue;
    width: 85%;
    margin: auto;
}

div.align{
    text-align: center;
}

.inner-box{
    width: 50%;
    height: 200px;
    padding: auto;
    background-color: lightblue;
}

.scroll{
    overflow: scroll;
}
.button{
    border: 10px;
    background-color: palegreen;
    border-color: black;
}